svg {
  background: rgb(106, 195, 255);
  width: 100%;
}

.graticule {
  stroke: darkblue;
  stroke-width: 1;
  fill: none;
}

.country {
  stroke: black;
  stroke-width: 1;
  fill: white;
}

g.hurricane-path > path {
  fill: none;
  stroke: black;
  stroke-width: 1;
  stroke-linecap: round;
}

g.hurricane-path:hover > path {
  filter: blur(2px);
  stroke-width: 6;
}

g.hurricane-path > line {
  stroke-width: 3px;
}