svg {
  background: rgb(54, 148, 211);
  width: 100%;
}

.graticule {
  stroke: darkblue;
  stroke-width: 1;
  fill: none;
}

.country {
  stroke: black;
  stroke-width: 1;
  fill: white;
}

.country:hover {
  fill: red;
}