svg {
  background: #335376;
  width: 100%;
}

.graticule {
  stroke: rgb(10, 15, 46);
  stroke-width: 1;
  fill: none;
}

.land {
  fill: lightgray;
  filter: blur(2px);
}

.country {
  stroke: black;
  stroke-width: 1;
  fill: #5d5750;
}

g.hurricane-path > path {
  fill: none;
  stroke: black;
  stroke-width: 1;
  stroke-linecap: round;
}

g.hurricane-path:hover > path {
  filter: blur(2px);
  stroke-width: 6;
}

g.hurricane-path > line {
  stroke-width: 3px;
}

circle.measurement {
  stroke: black;
  stroke-width: 1px;
}