:host {
  --ocean: #335376;
  --land: #5d5750;
  --LO: #ffffaa;
  --WV: #a1dab4;
  --DB: #74c476;
  --TD: #31a354;
  --TS: #006d2c;
  --C1: #fee5d9;
  --C2: #fcae91;
  --C3: #fb6a4a;
  --C4: #de2d26;
  --C5: #a50f15;
  --EX: #bd82ff;
}